/* GLOBAL TYPOGRAPHY STYLES */
body {
    /* changed the background whitesmoke */
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 1.25em;
    /* added a pading of 25px on each side of the page */
  padding: 25px;
  }
  
    
  /* MINIMAL FLEX LAYOUT */
  html, body {
    min-height: 100vh;
    margin: auto;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  /* added the header a opocity of 0.4 */
  /* set the color red */
  header {
    height: 8em;
    background-color: #7a7a7a;
    text-align: center;
    opacity: 0.4;
    color: red;
  }
  main {
    flex: auto;
    max-width: 80%;
    margin: auto;
  }
  footer {
    height: 8em;
    background-color: #7a7a7a;
    text-align: center;
  }
  
  
  /* HEADER/FOOTER */
  header, footer {
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 2.5em;
  }
  
  /* ADD Calculator */
  /* changed the width to 200px */
  /* gave aborder radius of 20% */
  input {
    padding: .5em;
    width: 200px;
    background: #f4f8f3;
    border: 2px solid green;
    border-radius: 20%;
  }
  /*Added border radius of 20%  */
  /* set the backgroung green */
  /* set the font to bold */
  button {
    padding: .5em;
    width: 100px;
    border-radius: 20%;
    background-color: green;
    font-weight: bold;
    
  }
  
  /* Salary Calculation Table */
  table {
    width: 85%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: #7a7a7a;
    color: #fcfcfc;
  }
  tbody tr:nth-child(odd){ 
    background: #fcfcfc;
  }
  tbody tr:nth-child(even){
    background: #dcdcdc;
  }
  